<p>
  <%= link_to railway_station.title, [:admin, railway_station] %> -
  <%= link_to t('common.edit'), edit_admin_railway_station_path(railway_station) %> -
  <%= link_to t('common.delete'), [:admin, railway_station], method: :delete, data: { confirm: 'Вы действительно хотите удалить?' } %>
</p>
