<p>
  <%= link_to route.name, [:admin, route] %> -
  <%= link_to 'Редактировать', edit_admin_route_path(route) %> -
  <%= link_to 'Удалить', [:admin, route], method: :delete, data: { confirm: 'Вы действительно хотите удалить?' } %>
</p>
