<p id="notice"><%= notice %></p>

<h1>Поезда</h1>
<%= render partial: "train", collection: @trains %>
<!--table>
  <thead>
    <tr>
      <th>Имя</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <%= render train %>
    <% end %>
  </tbody>
</table-->

<br>

<%= link_to 'Новый поезд', new_train_path %>
