<h1>Вагоны</h1>

  <% @carriages.each do |carriage| %>
    <%= render :partial => 'carriages/carriage', :locals => {:carriage => carriage} %>
  <% end %>

<br>

<%= link_to 'Новый вагон', new_train_carriage_path %>
<%= link_to 'Назад', train_path(@train) %>
