<p id="notice"><%= notice %></p>

Поиск
<%= link_to 'Новый поиск', new_search_path(@search) %> |

<% if @search.empty? %>
Поездов не найдено
<% else %>
<table>
  <thead>
  <tr>
    <td width="100px">Маршрут</td>
    <td>Станция отправления</td>
  </tr>
  </thead>
  <tbody>
  <% @search[:search_stations].each do |search_stations| %>
    <tr>
      <td><%= search_stations[:route] %></td>
      <td>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
