        <div class="col-md-2 form text-center">"Номер поезда"</div>
        <div class="col-md-2 form text-center">"Текущая станция"</div>
        <div class="col-md-2 form text-center">"Маршрут"</div>
        <div class="col-md-3 form text-center">"Сортировка вагонов с головы поезда"</div>
        <div class="col-md-3 form text-center">"Действие"</div>
