<header>
  <h1>Макет железной дороги</h1>
  <p> 
    <%= link_to 'Список маршрутов', routes_path %>
    <%= link_to 'Список железнодорожных станций', railway_stations_path %>
    <%= link_to 'Список поездов', trains_path %>
    <%= link_to 'Список вагонов', carriages_path %>
  </p>
</header>
